@using Capstone.Web.Models.Viewmodel;
@model BrewerBrewery


<style>
    small {
        color: red;
    }
</style>

<div class="container">
    <div class="container mx-auto mt-5" style="text-align:center;">
        <div class="btn-group " data-toggle="buttons">
            <label id="one" class="btn btn-outline-success waves-effect mroonbtn">
                <input type="radio" name="options" id="newbrew" checked="checked" autocomplete="off"> Add New Brewery
            </label>
            <label id="two" class="btn btn-outline-success waves-effect mroonbtn">
                <input type="radio" name="options" id="brew" autocomplete="off"> Add Brewer to Brewery
            </label>
        </div>
    </div>

    <div id="newBrewery">
        @using (Html.BeginForm("AddBreweryNewUser", "Home", FormMethod.Post))
        {
            <div class="jumbotron w-75 pt-3 mx-auto mt-5">
                <h1 style="text-align:center;" class="mb-5">Add New Brewery</h1>

                <small> @Html.ValidationMessageFor(m => m.BreweryName)</small>
                <div class="form-group row">
                    <label for="breweryname" class="col-3 col-form-label">Brewery Name:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.BreweryName, new { @class = "form-control" })
                    </div>
                </div>

                <small>@Html.ValidationMessageFor(m => m.UserName)</small>
                <div class="form-group row">
                    <label for="Username" class="col-3 col-form-label">Username:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>

                <small>@Html.ValidationMessageFor(m => m.EmailAddress)</small>
                <div class="form-group row">
                    <label for="Email" class="col-3 col-form-label">Email:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                    </div>
                </div>

                <small> @Html.ValidationMessageFor(m => m.Password)</small>
                <div class="form-group row">
                    <label for="Password" class="col-3 col-form-label">Password:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <button id="newbrewsubmit" type="submit" class="btn btn-block btn-success btn-lg">Large button</button>
            </div>
        }
    </div>




    <div id="exisitingBrewery">
        @using (Html.BeginForm("AddUserExistingBrewery", "Home", FormMethod.Post))
        {

            <div class="jumbotron w-75 pt-3 mx-auto mt-5">

                <h1 style="text-align:center;" class="mb-5">Add Brewer to Brewery</h1>
                <small> @Html.ValidationMessageFor(m => m.BreweryName)</small>
                <div id="brewdropdown" class="form-group row">
                    <label for="Password" class="col-3 col-form-label">Breweries:</label>
                    <div class="col-8">
                        <select name="brewID" class="form-control" id="breweryDD"></select>
                    </div>
                </div>

                <small>@Html.ValidationMessageFor(m => m.UserName)</small>
                <div class="form-group row">
                    <label for="Username" class="col-3 col-form-label">Username:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @*<input class="form-control" type="text" name="Username" id="Username">*@
                    </div>
                </div>
                <small>@Html.ValidationMessageFor(m => m.EmailAddress)</small>
                <div class="form-group row">
                    <label for="Email" class="col-3 col-form-label">Email:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                        @*<input class="form-control" type="email" name="Email" id="Email">*@
                    </div>
                </div>

                <small> @Html.ValidationMessageFor(m => m.Password)</small>
                <div class="form-group row">
                    <label for="Password" class="col-3 col-form-label">Password:</label>
                    <div class="col-8">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        @*<input class="form-control" type="text" name="Password" id="Password">*@
                    </div>
                </div>
                <button id="existbrewsubmit" type="submit" class="btn btn-block btn-success btn-lg">Large button</button>
            </div>
         }
    </div>
</div>












<script>

    $("#radio_1").prop("checked", true);
    $("#newBrewery").show();
    $("#exisitingBrewery").hide();

    $("#one").click(function () {
        $("#newBrewery").show();
        $("#exisitingBrewery").hide();
    })

    $("#two").click(function () {
        $("#newBrewery").hide();
        $("#exisitingBrewery").show();
    })





    $(function () {
        $.ajax({
            url: "/Home/GetAllBreweries",
            method: "GET",
            dataType: "json"
        }).done(function (result) {
            console.log(result)

            $("#breweryDD").empty();

            var select = `<option disabled selected>Select a Brewery</option>`
            $("#breweryDD").append(select);

            for (var i = 0; i < result.length; i++) {
                var r = result[i];

                var html = `<option value=${r.BreweryID}>${r.BreweryName}</option>`;
                $("#breweryDD").append(html);
            }
        })
    })



    //$("#newbrewsubmit").click(function () {
    //    $.ajax({
    //        url: `/Home/AddBreweryNewUser?breweryName=${breweryName}&username=${username}&Email=${Email}&Passowrd=${Passowrd}`,
    //        method: "POST",
    //        dataType: "json"
    //    })

    //})






</script>








@*   int AddNewBrewery(string breweryName);

    bool AddNewBrewer(string username, string password, bool isBrewer, int breweryID, string email);

    bool LinkBrewerToBrewery(int userID, int breweryID);  *@
