@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model List<Brewery>


<style>
    .jumbotron {
        background-color: transparent;
    
    }

    .parallax-container {
        height: 250px;
    }

    .parallax img {
        max-width: 50%;
    }
    a {
        text-decoration: none;
    }
    .layer {
        pointer-events: auto;
    }



</style>


    <div id="testbeers" class="jumbotron col-8 mx-auto mt-4 p-3">

        @foreach (Brewery b in Model)
        {

            <div class="parallax-container">
                <div class="parallax">
                    <img src="/Photos/@b.BreweryPhoto.Filename" />
                </div>
            </div>
            <div class="section white z-depth-5">
                <div  class="container">
                    <div class="row align-items-center justify-content-between">
                        <h2 class="header mt-1">@b.BreweryName</h2>
                        <a href=@Url.Action("BreweryDetail", "Home", new { brewID = b.BreweryID }) class="waves-effect text-gray-dark blue-grey lighten-5 btn">Check Out Brewery</a>
                    </div>
                    <strong>@b.Address</strong>
                    <p class="grey-text text-darken-3 lighten-3 mt-1">
                        @b.History
                    </p>
                    <div id="@b.BreweryID" class="row justify-content-between">
                     
                    </div>
                </div>
            </div>
        }
    </div>


                    @*<button class="btn btn-info" onclick="onClick(this)"></button>*@
                    @*<a href=@Url.Action("BreweryDetail", "Home", new { brewID = b.BreweryID }, null)>
                        @b.BreweryName
                    </a>*@

<style>
    .beerpic {
        width: auto;
        height: 150px;
        border-radius: 5px;
    }
</style>
<script>

    $(document).ready(function () {
        $('.parallax').parallax();
    });

    var madtree1 = {};
    var woodburn2 = {};
    var ninegiant3 = {};
    var rhien4 = {};



    $(function () {
        $.ajax({
            url: "/Home/GetAllBeersJson",
            method: "GET",
            dataType: "json"
        }).done(function (beers) {
            //console.log(beers)

            for (var i = 0; i < beers.length; i++) {

                

                if (beers[i].BreweryId == 1) {
                    $("#1").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                    madtree1[i]=beers[i]

                }
                if (beers[i].BreweryId == 2) {
                    $("#2").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                    woodburn2[i] = beers[i]
                }
                if (beers[i].BreweryId == 3) {
                    $("#3").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                    ninegiant3[i] = beers[i]
                }
                if (beers[i].BreweryId == 4) {
                    $("#4").append(`<img style="width:auto; height:150px" class="z-depth-3 beerpic" src="/Photos/Beers/${beers[i].Name}.jpg" />`)
                    rhien4[i] = beers[i]
                }

            }

            console.log(madtree1)
            console.log(woodburn2)
            console.log(ninegiant3)
            console.log(rhien4)

            })


    })




</script>
