@using Capstone.Web.Models
@model Beer
<div class="center jumbotron">
    <h2 style="text-align:center">@Model.BreweryName</h2>
    <div class="center" style="text-align:center">
        <h3 style="text-align:center">@Model.Name</h3>
        <br />
        <img src="~/Photos/@Model.Image" style="width:300px; border:1px solid black" />
        <br />
        <div style="text-align:center">
            <h4 style="text-align:center">@Model.BeerType</h4>
            @Model.Description
        </div>
        <div style="text-align:center">
            <strong>ABV: @Model.AlcoholByVolume</strong>
        </div>
    </div>
</div>



@*-------------------------HERE BEGINS THE BEER REVIEW CODE-------------------------------*@
@{int userId = (int)Session["UserId"];}

<div style="height: 200px; width:200px; background-color: lightgray; margin-left: 10px">
    <div id="form-messages"></div>
    <form id="ajax-review" method="post">
        <div class="field">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" required>
        </div>

        <div class="field">
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" required>
        </div>

        <div class="field">
            <button type="submit" style="margin-left: 25%">Submit Review</button>
        </div>
        
        <input hidden name="userId" value="@userId" />
    </form>

</div>


<script>
    $(function () {
        // Get the form.
        var form = $('#ajax-review');

        // Get the messages div.
        var formMessages = $('#form-messages');

        // TODO: The rest of the code will go here...
    });

    // Set up an event listener for the contact form.
    $(form).submit(function (event) {
        // Stop the browser from submitting the form.
        event.preventDefault();

        // TODO
    });


    // Submit the form using AJAX.
    $.ajax({
        url: `/Home/ReviewBeer?rating=${rating}&review=${review}&userId=${userId}&beerId=${beerId}`,
        method: "POST",
        data: 'json'
    }).done(function (response) {
        // Make sure that the formMessages div has the 'success' class.
        $(formMessages).removeClass('error');
        $(formMessages).addClass('success');

        // Set the message text.
        $(formMessages).text(response);

        // Clear the form.
        $('#rating').val('');
        $('#review').val('');
    }).fail(function (data) {
        // Make sure that the formMessages div has the 'error' class.
        $(formMessages).removeClass('success');
        $(formMessages).addClass('error');

        // Set the message text.
        if (data.responseText !== '') {
            $(formMessages).text(data.responseText);
        } else {
            $(formMessages).text('Oops! An error occured and your review could not be submitted.');
        }
    });

</script>

<script src="jquery-2.1.0.min.js"></script>
<script src="app.js"></script>