@using Capstone.Web.Models
@model Beer

@{
    string pic = $"{Model.Name}.jpg";
}

@*-------------------GRID SYSTEM *CONTAINER/ROW*------------------*@
<div class="container">
    <div class="row">

        @*--------------------BEER DETAILS SECTION-------------------------*@
        <div class=".col-md-8">
            <div class="jumbotron" style="width: 500px">
                <h2 style="text-align:center">@Model.BreweryName</h2>
                <div class="center" style="text-align:center">
                    <h3 style="text-align:center">@Model.Name</h3>
                    <br />
                    <img src="~/Photos/Beers/@pic" style="width:300px; border:1px solid black" />
                    <br />
                    <div style="text-align:center">
                        <h4 style="text-align:center">@Model.BeerType</h4>
                        @Model.Description
                    </div>
                    <div style="text-align:center">
                        <strong>ABV: @Model.AlcoholByVolume</strong>
                    </div>
                </div>
            </div>
        </div>







        @*-------------------------THIS IS THE LIST OF REVIEWS-------------------------------*@

        @*<div>
                <table class="table table-striped" id="resultsTable" style="display: none; color: white">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Rating</th>
                            <th>Review</th>
                            <th>Date Posted</th>
                        </tr>
                    </thead>
                    <tbody id="results"></tbody>
                </table>
            </div>*@


        @*-------------------------------LET'S TRY SOME CARDS----------------------------------*@
        <div class=".col-md-4">

            <div style="width: 18rem; display: none" id="cardSpace"></div>


        </div>
    </div>
</div>


@*-----------------------------THE BEER REVIEW FORM-------------------------------*@

@*Users cannot view this review box unless they are registered*@

<input hidden id="viewBeerId" value="@Model.BeerID" />

@if (Session["UserId"] != null)
{
    int userId = (int)Session["UserId"];

    <div style="height: 200px; width:200px; background-color: lightgray; margin-left: 10px">
        <div id="form-messages"></div>

        <div class="field">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" required>
        </div>

        <div class="field">
            <label for="review">Review:</label>
            <input type="text" id="review" name="review" required>
        </div>

        <input hidden id="userId" name="userId" value="@userId" />
        <input hidden id="beerId" name="beerId" value="@Model.BeerID" />
        <input hidden id="date" name="date" value="@DateTime.Now" />

        <div class="field">
            <button id="submitreview" type="submit" style="margin-left: 25%">Submit Review</button>
        </div>


    </div>
}



<script>

    //-----------------------------POST A NEW REVIEW--------------------------
    $(function () {
        $("#submitreview").click(function (event) {
            var rating = $("#rating").val();
            var review = $("#review").val();
            var userId = $("#userId").val();
            var beerId = $("#beerId").val();
            var date = $("#date").val();
            console.log(userId);
            console.log(beerId);
            console.log(date);
            console.log(rating);
            console.log(review);

            $.ajax({
                url: `/Home/ReviewBeer?rating=${rating}&review=${review}&userId=${userId}&beerId=${beerId}&date=${date}`,
                method: "POST",
                dataType: "json",
                success: function (data) {
                    window.location.href = "/Home/BeerDetail";

                }
            })

        })
    })

    //--------------------------GET REVIEWS FROM DB----------------------------

    $(function () {
        var beerId = $("#viewBeerId").val();
        $.ajax({
            url: `/Home/GetReviewsForBeer?beerId=${beerId}`,
            method: "GET",
            dataType: "json"
        }).done(function (result) {
            console.log(result);



            //Display the returned reviews
            for (var i = 0; i < result.length; i++) {


                var reviewDate = new Date(parseInt(result[i].Date.replace("/Date(", "").replace(")/", ""), 10));

                var stars = `<img src="/Photos/${result[i].Rating}-star.png" style="width: 100px; height: auto" />`;
                var html = `<div class="card rounded" style="margin-left: 30px"><div class="card-body" style="margin-left: 10px; margin-bottom: 10px">${stars}<p class="card-text"><b>${result[i].Username}</b> on ${reviewDate.getMonth()}/${reviewDate.getDay()}/${reviewDate.getFullYear()} </p><p class="card-text">"${result[i].ReviewPost}"</p></div></div>`;


                @*<img src="~/Content/images/@(Math.Round(product.AverageRating) + "-star.png")" style="width: 100px; height: auto;" />
                    <img src= "~/Photos/@(Math.Round(${}) + "-star.png")" style= "width: 100px; height: auto;" />*@
                $("#cardSpace").append(html);
        }
            $("#cardSpace").show();
    })

    })


</script>
