@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model Brewery
<div class="jumbotron align-content-center">
    <h1 style="text-align:center">@Model.BreweryName</h1>
    @*<button class="btn btn-primary" type="submit">View Beers</button>*@
    <input type="button" class="btn btn-info" value="View Beers" onclick=" relocate_home()">

    <script>
function relocate_home()
{
    location.href = "http://localhost:55601/Home/GetAllBeers";
}
    </script>
</div>
<div> 
    <div>
        <img src="@Model.Imagery" />
    </div>
    <div>
        @Model.History
    </div>
    <div>
        @Model.Address
    </div>
    <div>
        @Model.ContactPhone
    </div>
    <div>
        
    </div>
</div>

