@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model Brewery
<div class="jumbotron">
    <h1 style="text-align:center">@Model.BreweryName</h1>
</div>
<div> 
    <div>
        <img src="@Model.Imagery" />
    </div>
    <div>
        @Model.History
    </div>
    <div>
        @Model.Address
    </div>
    <div>
        @Model.ContactPhone
    </div>
</div>

