@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model Brewery
<div class="jumbotron align-content-center w-75 mx-auto pt-4">
    <h1 class="mt-0" style="text-align:center">@Model.BreweryName</h1>
            <div class="row justify-content-between">
                    <img class=".img-thumbnail w-50 h-50" src="~/Photos/@Model.BreweryPhoto.Filename" style="border: 1px solid black" />
                <div style="margin-bottom:25px;">
                    <h3 class="my-1" style="text-align:center">Contact Info</h3> <br />
                    <strong>Brewery Address: </strong> @Model.Address <br />
                    <strong>Phone Number: </strong> @Model.ContactPhone <br />
                    <strong>Contact Person: </strong> @Model.ContactName  <br />
                    <strong>Contact Email: </strong> @Model.ContactEmail <br />
                    <div>
                        <h5>Hours</h5>
                        @foreach (var hour in Model.Hours)
                        {

                <div class="row my-0">
                    <b> @hour.DayOfWeek</b>
                    <span>: @hour.Opens - @hour.Closes</span>
                </div>


                        }
                    </div>
                </div>
            </div>
            <div class="align-content-center">
                @Model.History
            </div>

            <br />
            <div class="center">
                <form method="get" action="@Url.Action("BreweryBeerDetail", "Home", null)">
                    <input hidden value="@Model.BreweryID" name="brewID" />
                    <button type="submit" class="waves-effect waves-light btn mroonbtn">View Beers</button>
                </form>
            </div>
</div>
