@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model Brewery
<div class="jumbotron align-content-center">
    <h1 style="text-align:center">@Model.BreweryName</h1>
    @*<button class="btn btn-primary" type="submit">View Beers</button>*@
        <div class="jumbotron align-content-center">
            <div class="align-content-center">
                <img src="@Model.Imagery" />
            </div>
            <div class="align-content-center">
                @Model.History
            </div>
            <div class="align-text-center">
                <h3 style="text-align:center">Contact Info</h3> <br />
              Brewery Address: @Model.Address
              Phone Number:  @Model.ContactPhone <br />
              Contact Person:  @Model.ContactName  <br />
              Contact Email  @Model.ContactEmail <br />
            </div>
        </div>
    <input type="button" class="btn btn-info" value="View Beers" onclick=" relocate_beerDetail()">

    <script>
function relocate_beerDetail()
{
    location.href = "http://localhost:55601/Home/GetAllBeers";
}
    </script>
</div>
@*<div> 
    <div>
        <img src="@Model.Imagery" />
    </div>
    <div>
        @Model.History
    </div>
    <div>
        @Model.Address
    </div>
    <div>
        @Model.ContactPhone
    </div>
    <div>
        
    </div>
</div>*@

