@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pic = $"{Model.Name}.jpg";
}

<head>
    <link href="~/Content/MobileCss.css" rel="stylesheet" />
</head>
@using Capstone.Web.Models
@model Beer

<div class="jumbotron center w-50 mx-auto mt-5">
    <h3 style="text-align:center">Update @Model.Name</h3>
    <div class="center jumbotron">
        <div class="center">
            <img src="/Photos/Beers/@pic" style="width:300px; height:300px; border:1px solid black" />
        </div>
        <br />
        <div class="card p-4" style="width: 75%; background-color: #fbfbfb; margin-left: 15%">
            @using (Html.BeginForm("SubmitBeerEdit", "Home", FormMethod.Post, new { id = "beerPhotoSubmit", enctype = "multipart/form-data" }))
            {

                <div class="pr-4">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="photo">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" placeholder="Upload Beer Image Here" type="text">
                            <input hidden name="beerID" value="@Model.BeerID" />
                        </div>
                    </div>
                </div>
                <div class="input-field col">
                    @Html.TextBoxFor(m => m.Name, new { id = "BeerName", type = "string" })
                    <label class="ml-auto" for="BeerName">Beer Name</label>
                </div>

                <div class="input-field col">
                    @Html.TextBoxFor(m => m.Description, new { id = "Description", type = "string" })
                    <label class="ml-auto" for="Description">Beer Description</label>
                </div>
                <div class="input-field col">
                    @Html.TextBoxFor(m => m.AlcoholByVolume, new { id = "AlcoholByVolume", type = "double" })
                    <label class="ml-auto" for="AlcoholByVolume">Alchol By Volume</label>
                </div>
                <div class="input-field col">
                    @Html.TextBoxFor(m => m.BeerType, new { id = "BeerName", type = "string", @class = "validate" })
                    <label class="ml-auto" for="BeerName">Beer Type</label>
                </div>
                <div class="input-field col">
                    @Html.TextBoxFor(m => m.BeerID, new { id = "BeerID", type = "int", @class = "validate" })
                    <label class="ml-auto" for="BeerID">Beer ID</label>
                </div>
                
                <button class="btn mt-5 teal accent-1 teal-text z-depth-1" id="update-button">Submit Changes</button>
            }
        </div>
    </div>
</div>

