
@model Capstone.Web.Models.User



<style>
    .insert {
        width: 100%;
    }

    .jumbotron {
        --background: rgb(200, 54, 54);
        --background-color: rgba(200, 54, 54, 0.5) !important;
        background-color: rgba(0, 0, 0, 0.66) !important;
    }

    .text, #userName, #passWord, #eMail {
        color: white;
    }

    .button {
        background-color: black;
    }

    .text-area {
        background-color: white;
    }
</style>

<div>
    <div class="container">
        @using (Html.BeginForm("UserRegistration", "Home", FormMethod.Post, new { id = "registration" }))
        {
            <div class="jumbotron w-75 pt-3 mx-auto mt-5">
                <h1 class="text-center text ">Registration</h1>

                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.UserName, new { id = "userName" })
                    <small>@Html.ValidationMessageFor(m => m.UserName, null, new { @class = "uname" })</small>
                    <label id="labUname" for="userName">Username</label>
                </div>

                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.EmailAddress, new { id = "eMail", @class = "validate" })
                    <small>@Html.ValidationMessageFor(m => m.EmailAddress)</small>
                    <label for="userName">Email</label>
                </div>

                <div class="input-field col s12">
                    @Html.PasswordFor(m => m.Password, new { id = "passWord", @class = "validate" })
                    <small>@Html.ValidationMessageFor(m => m.Password)</small>
                    <label for="userName">Password</label>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block mt-5 button">Register</button>
            </div>
        }
    </div>
</div>
