
@model Capstone.Web.Models.User



<style>
    .insert {
        width: 100%;
    }
    .jumbo {
        background: rgb(200, 54, 54);  
        background: rgba(200, 54, 54, 0.5);
    }
    .text{
        color:white;
    }
    .button{
        background-color:black;
    }
    .text-area{
        background-color: white;
    }


</style>

<div>
    <div class="container">
        @using (Html.BeginForm("UserRegistration", "Home", FormMethod.Post, new { id = "registration"}))
        {
        <div class="jumbotron w-75 pt-3 mx-auto mt-5 jumbo">
            <h1 class="text-center text ">Registration</h1>

            <div class="col-lg-8 form-group row text-area">
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "username" })
                <small>@Html.ValidationMessageFor(m => m.UserName)</small>
            </div>
           
            <div class="mt-3 col-lg-8 form-group row text-area">
                @Html.PasswordFor(m => m.Password, new { placeholder = "password" })

                <small>@Html.ValidationMessageFor(m => m.Password)</small>
            </div>

            <div class="mt-3 col-lg-8 form-group row text text-area">
                @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "email" })
                <small>@Html.ValidationMessageFor(m => m.EmailAddress)</small>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block mt-5 button">Register</button>
        </div>
        }
    </div>
</div>
