
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brewster!</title>
    <script src="~/Scripts/tether.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Materialize/css/materialize.css" rel="stylesheet" />



    <style>
        .beerback {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .beerback {
            background-image: url('../../Photos/beerback3.jpg');
            min-height: 100%;
        }
        #layoutnav {
            background-color: #a7a7a7ad;
        }
        .mroonbtn {
            background-color: #b35858;
        }
        .mroonbtn:hover, .mroonbtn:active, .mroonbtn:focus, .btn-outline-success.active {
            background-color: #ff9e3d !important;
            border-color: #ff9e3d;
        }
        #login-email {
            align-content:center;
            background-color:aliceblue;
            opacity:0.9;
            border-color:cornsilk;
            border-width:2px;
        }
        #login-pw {
            align-content: center;
            background-color: aliceblue;
            opacity: 0.9;
            border-color: cornsilk;
            border-width: 2px;
        }
    </style>

</head>


<body class="beerback">
    <nav id="layoutnav">
        <div class="nav-wrapper">
            @Html.ActionLink("Home", "Index", "Home", new { @class = "waves-effect waves-light btn mroonbtn" })
            <ul class="right hide-on-med-and-down">
                <li>@Html.ActionLink("Register", "UserRegistration", "Home", new { @class = "waves-effect waves-light btn mroonbtn" })</li>
                <li>@Html.ActionLink("Login", "Login", "Home", new { @class = "waves-effect waves-light btn mroonbtn" })</li>
                @if (Session["BreweryId"] != null)
                 {
                    <li>@Html.ActionLink("Add A Beer", "AddBeer", "Home", new { @class = "waves-effect waves-light btn mroonbtn" })</li>
                    <li>@Html.ActionLink("Edit Brewery Info", "UpdateBreweryInfo", "Home", new { @class = "waves-effect waves-light btn mroonbtn" })</li>
                 }
                @if (Session["Admin"] != null)
                {
                    <li>@Html.ActionLink("Add A Brewery", "AddBrewery", "Home", new { @class = "waves-effect waves-light btn mroonbtn" })</li>
                }
            </ul>
        </div>
    </nav>


    <div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Content/Materialize/js/materialize.js"></script>
</body>
</html>
